* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridGallery{
    display: grid;
    margin: 1%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
}

img{
    width: 100%;
}

img:hover{
    opacity: 0.25;
}

@media screen and (max-width: 768px){
    
    .gridGallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px){

    .gridGallery{
        grid-template-columns: 1fr;
    }
}